<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142273036261-mn92uqb8n8mthf52hsb1shtsilu9ebb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142273036261-mn92uqb8n8mthf52hsb1shtsilu9ebb2</string>
	<key>API_KEY</key>
	<string>AIzaSyAZghq6qZ4_y8dKDjkphUE8--kHX_sLyCo</string>
	<key>GCM_SENDER_ID</key>
	<string>142273036261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-e187f</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-e187f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142273036261:ios:fd508d5472c521f33a790c</string>
</dict>
</plist>